*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.log

# Keystore secrets (if any private keystore)
# We will provide a release keystore for CI builds

# Build artifacts
*.apk
*.zip
/release-apk/
/debug-apk/
